include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include README.rst
include tox.ini
exclude .readthedocs.yaml

include src/*/ext.conf

recursive-include docs *
prune docs/_build

recursive-include tests *.py
recursive-include tests *.xml
recursive-include tests/data *
