include *.py
include *.rst
include .mailmap
include .readthedocs.yml
include LICENSE
include MANIFEST.in
include pyproject.toml
include tox.ini

recursive-include .circleci *
recursive-include .github *

include mopidy_*/ext.conf

recursive-include tests *.py
recursive-include tests *.xml

recursive-include docs *
prune docs/_build
